<%= form_with(model: tweet, local: true, :class => "w-100 mb-3") do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= current_user.username %> dice:</b><br/>
    <%= form.text_area :content, :class => "form-control" %>
  </div>

  <%# <div class="field"> %>
    <%# <%= form.label :user_id %>
    <%# <%= form.text_field :user_id %>
  <%# </div> %> 

  <div class="text-right">
    <%= form.submit "Guardar", :class => "btn btn-primary"%>
  </div>
<% end %>
